.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.flash_signup {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 170px;
  margin: auto;
  bottom: 0;
  color: rgb(10, 10, 10);
  font-size: 15px;
  font-weight: 200;
}

.flash_content {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 190px;
  margin: auto;
  bottom: 0;
  color: rgb(7, 7, 7);
  font-size: 15px;
  font-weight: 200;
}

.detail_button {
  left: 80px;
  right: 0;
  top: 0px;
}

.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 451px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 103px auto 0 125px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 14px 86px 0 125px;
}

.u-section-1 .u-text-3 {
  margin: 14px 40px 0 79px;
}

.u-section-1 .u-image-1 {
  min-height: 431px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-4 {
  text-align: start;
  font-weight: 700;
  font-style: italic;
  background-image: none;
  margin: -421px auto 60px -55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 19px;
  }

  .u-section-1 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 95px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 95px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 272px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-image-1 {
    min-height: 408px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-image-1 {
    min-height: 257px;
  }
}